
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>المكتب الاعلامي لرئاسة الوزراء</strong></a>    
    </logo>
 
    <links>
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <!-- Search form -->
                    <form class="form-inline  waves-light" mdbRippleRadius>
                       <input class="form-control mr-sm-2" type="text" placeholder="بحث">
                   </form>
                </li>
            </ul>
    </links>
  </mdb-navbar>

  <img src=".\assets\images\Banner-2.jpg" class="img-fluid" alt="Responsive image" style="padding-top: 55px;">

<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
      
      <div class="row pt-5">
          <div class="col text-center">
               

            
<!--Section: Blog v.1-->
<section class="section pb-3 text-center text-lg-right">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">اخر البيانات</h1>
    <!--Section description-->
    <p class="section-description">اخر البيانات</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="http://via.placeholder.com/300x300" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-cutlery"></i> البيانات</h6></a>
            <h4 class="mb-4"><strong>رئيس مجلس الوزراء الدكتور حيدر العبادي يتلقى اتصالا هاتفيا من ملك المملكة العربية السعودية الملك سلمان بن عبد العزيز</strong></h4>
            <p>تلقى رئيس مجلس الوزراء الدكتور حيدر العبادي اليوم الاثنين اتصالا هاتفيا من ملك المملكة العربية السعودية الملك سلمان بن عبد العزيز.

                    وجرى خلال الاتصال بحث تعزيز التعاون بين البلدين ومباركة نجاح المباراة الودية بين منتخبي البلدين الشقيقين.
                    
                    واكد الملك سلمان بن عبد العزيز اهمية تعزيز العلاقات وروح الاخوة بين البلدين ودعم المملكة لجهود إعمار العراق ووحدته.
                    
                    واعرب ملك المملكة العربية السعودية عن سروره بنجاح المباراة الودية بين منتخبي البلدين، مبينا انها مناسبة لإهداء ملعب للعراق وتجديد التعاون والعمل بين البلدين،بدوره قدّم الدكتور حيدر العبادي شكره لهذه المبادرة الكريمة، مؤكداً العمل مع المملكة لتعزيز التعاون بين البلدين، مبينا ان المباراة الودية قد شهدت تفاعلا جماهيريا كبيرا وهي حالة صحية وايجابية.
                    
                    واشار سيادته الى اهمية المجلس التنسيقي العراقي السعودي لما فيه من تشجيع للقطاع الخاص والاستثمار .</p>
            <p>من <a><strong>المكتب الإعلامي لرئيس 
                    الوزراء</strong></a>, 													5– 
                    اذار - 2018</p>
            <a class="btn btn-success mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6 offset-xl-1 pb-3">
            <!--Excerpt-->
            <a href="" class="red-text"><h6 class="font-bold pb-1"><i class="fa fa-image"></i>News</h6></a>
            <h4 class="mb-4"><strong>This is title of the news.</strong></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 14/08/2016</p>
            <a class="btn btn-red mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-5">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="http://via.placeholder.com/300x300" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="http://via.placeholder.com/300x300" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h6 class="font-bold pb-1"><i class="fa fa-suitcase"></i>Speech</h6></a>
           <h4 class="mb-4"><strong>This is title of the news.</strong></h4>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet, consectetur.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 11/08/2016</p>
            <a class="btn btn-indigo mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
            
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->

   
                
      