
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="/"><strong>المكتب الاعلامي لرئاسة الوزراء</strong></a>    
    </logo>
 
    <links>
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <!-- Search form -->
                    <form class="form-inline  waves-light" mdbRippleRadius>
                       <input class="form-control mr-sm-2" type="text" placeholder="بحث">
                   </form>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
    </links>
  </mdb-navbar>

  <img src=".\assets\images\Banner-2.jpg" class="img-fluid" alt="Responsive image" style="padding-top: 55px;">

<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
      
      <div class="row pt-5">
          <div class="col text-center">
               

            
<!--Section: Blog v.1-->
<section class="section pb-3 text-center text-lg-right">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">اخر البيانات</h1>
    <!--Section description-->
    <p class="section-description">اخر البيانات</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src=".\assets\images\logo.jpg" alt="Sample image for first version of blog listing" height="300" width="300">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-cutlery"></i> البيانات</h6></a>
            <h4 class="mb-4"><strong>رئيس مجلس الوزراء الدكتور حيدر العبادي يتلقى اتصالا هاتفيا من ملك المملكة العربية السعودية الملك سلمان بن عبد العزيز</strong></h4>
            <p>تلقى رئيس مجلس الوزراء الدكتور حيدر العبادي اليوم الاثنين اتصالا هاتفيا من ملك المملكة العربية السعودية الملك سلمان بن عبد العزيز.

                    وجرى خلال الاتصال بحث تعزيز التعاون بين البلدين ومباركة نجاح المباراة الودية بين منتخبي البلدين الشقيقين.
                    
                    واكد الملك سلمان بن عبد العزيز اهمية تعزيز العلاقات وروح الاخوة بين البلدين ودعم المملكة لجهود إعمار العراق ووحدته.
                    
                    واعرب ملك المملكة العربية السعودية عن سروره بنجاح المباراة الودية بين منتخبي البلدين، مبينا انها مناسبة لإهداء ملعب للعراق وتجديد التعاون والعمل بين البلدين،بدوره قدّم الدكتور حيدر العبادي شكره لهذه المبادرة الكريمة، مؤكداً العمل مع المملكة لتعزيز التعاون بين البلدين، مبينا ان المباراة الودية قد شهدت تفاعلا جماهيريا كبيرا وهي حالة صحية وايجابية.
                    
                    واشار سيادته الى اهمية المجلس التنسيقي العراقي السعودي لما فيه من تشجيع للقطاع الخاص والاستثمار .</p>
            <p>من <a><strong>المكتب الإعلامي لرئيس 
                    الوزراء</strong></a>, 													5– 
                    اذار - 2018</p>
            <a class="btn btn-success mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6 offset-xl-1 pb-3">
            <!--Excerpt-->
            <a href="" class="red-text"><h6 class="font-bold pb-1"><i class="fa fa-image"></i>الاخبار</h6></a>
            <h4 class="mb-4"><strong>رئيس مجلس الوزراء الدكتور حيدر العبادي يستقبل الأمين العام لمنظمة حلف شمال الاطلسي (الناتو) السيد ينس ستولتنبرغ</strong></h4>
            <p>استقبل رئيس مجلس الوزراء الدكتور حيدر العبادي في مكتبه اليوم الاثنين الأمين العام لمنظمة حلف شمال الاطلسي (الناتو) السيد ينس ستولتنبرغ والوفد المرافق له.
                
                ورحب الدكتور حيدر العبادي بالوفد الضيف، مؤكدا اهمية التعاون مع حلف الناتو لمحاربة الارهاب.
                
                واضاف سيادته ان ما حققناه من انتصار كبير وحقيقي على عصابات داعش يجب الحفاظ عليه والقضاء على الوجود الآيدلوجي للارهاب وان نستمر بملاحقته، مبينا ان التعاون بين العراق والناتو مهم في هذا المجال.
                
                فيما ذكر السيد ستولتنبرغ ان اللقاء مع الدكتور حيدر العبادي كان مثمراً جدا ، مضيفا : نحن فخورون بالنصر العراقي على داعش وهو نصر للعالم اجمع.
                
                كمااضاف السيد ستولتنبرغ اننا نقوم بتدريب القوات العراقية ومستمرون بدعم العراق ومساندته والتعاون معه في التدريب وبناء الاكاديميات العسكرية والتزويد بالخبرات،موضحا ان العراق كان في الخطوط الامامية لمحاربة الارهاب واننا معجبون جدا بانتصاراته ونشكر العراقيين على ما بذلوه من تضحيات في محاربة الارهاب.</p>
                <p>من <a><strong>المكتب الإعلامي لرئيس 
                    الوزراء</strong></a>, 														5– 
                    اذار - 2018</p>
                    <a class="btn btn-red mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-5">
                    <!--Featured image-->
                    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                        <img src="http://www.pmo.iq/image2018/5-3-201801.jpeg" alt="Second image in the first version of blog listing" height="300" width="450">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->
                

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="http://www.pmo.iq/image2018/4-3-201802.jpeg" alt="Thrid image in the blog listing." height="300" width="450">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h6 class="font-bold pb-1"><i class="fa fa-suitcase"></i>الخطب</h6></a>
           <h4 class="mb-4"><strong>رئيس مجلس الوزراء القائد العام للقوات المسلحة الدكتور حيدر العبادي يترأس اجتماعاً للمجلس الوزاري للأمن الوطني</strong></h4>
            <p>
                    ترأس رئيس مجلس الوزراء القائد العام للقوات المسلحة الدكتور حيدر العبادي اليوم الاحد اجتماعاً للمجلس الوزاري للأمن الوطني.
                    
                    وجرى خلال الاجتماع تقديم ايجاز عن استعدادات اللجنة الأمنية المسؤولة عن تأمين عملية الانتخابات البرلمانية المقبلة ومناقشة تلك الاستعدادات، وتمت الموافقة على عدد من متطلبات اللجنة لتأمين الانتخابات البرلمانية أمنيا.
                    
                    كما جرى خلال الاجتماع اتخاذ اجراءات لتسهيل منح سمة الدخول (الفيزا) للمستثمرين ورجال الاعمال الراغبين بالاستثمار في العراق بعد الاستقرار الامني في البلد والاقبال الكبير من قبل المستثمرين على العراق. 
                    
                    وتابع المجلس الجهد الاستخباري وسبل تعزيزه بالخطط الامنية لملاحقة العناصر والخلايا الارهابية.
                    
                    كما تمت متابعة تنفيذ المقررات السابقة ومناقشة عدد آخر من المواضيع المدرجة على جدول الاعمال.</p>
            <p>من <a><strong>المكتب الإعلامي لرئيس 
                    الوزراء</strong></a>, 														4– 
                    اذار - 2018</p>
            <a class="btn btn-indigo mb-3 waves-light" mdbRippleRadius>أقرأ المزيد</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
            
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->

   
                
      