<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default ie-nav" [containerInside]="false">
  <logo>
    <img src=".\assets\images\logo-sm.png" class="img-fluid " align="right">
    <a class="logo navbar-brand" href="/">
      <h3 class="h3-responsive">
        <strong>{{PMO}}</strong>
      </h3>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="{{searchPlaceholder}}">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<img src=".\assets\images\Banner-2.jpg" class="img-fluid animated fadeIn" alt="Responsive image" style="padding-top: 60px;">
<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
    <div class="row pt-5">
      <div class="col text-center">
        <!--Section: Blog v.1-->
        <section class="section pb-3 text-center text-lg-right">
          <!--Section heading-->
          <h1 class="section-heading h1 pt-4">{{type}}</h1>
          <!--Section description-->
          <p class="section-description">{{type}}</p>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
              <!--Featured image-->
              <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img class="animated fadeIn" src=".\assets\images\logo.jpg" alt="Sample image for first version of blog listing" height="300" width="300">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-7 col-xl-6">
              <!--Excerpt-->
              <a href="" class="green-text">
                <h6 class="font-bold pb-1">
                  <i class="fa fa-newspaper-o"></i>{{type}}</h6>
              </a>
              <h4 class="mb-4">
                <strong>{{title}}</strong>
              </h4>
              <p>{{subContent}}</p>
              <p>{{from}}
                <a>
                  <strong>{{by}}
                  </strong>
                </a>{{creatAt}}</p>
              <a class="btn btn-success mb-3 waves-light" mdbRippleRadius>{{readMore}}</a>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid row-->
        </section>
        <!--Section: Blog v.1-->
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->
<!--links -->
