
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default ie-nav" [containerInside]="false">
  <logo>
    <img src=".\assets\images\logo-sm.png" class="float-right">
    <a class="logo navbar-brand" href="/">
      <h3 class="h3-responsive">
        <strong>{{PMO}}</strong>
      </h3>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="{{searchPlaceholder}}">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://www.facebook.com/IraqPMMediaOffice">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://www.youtube.com/user/pmoiraqichannel">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://twitter.com/IraqiPMO">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<img src=".\assets\images\Banner-2.jpg" class="img-fluid animated fadeIn" alt="Responsive image" style="padding-top: 60px;">
<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
    <div class="row pt-5">
      <div class="col text-center">
        <!--Section: Blog v.1-->
        <section class="section pb-3 text-center text-lg-right" *ngFor="let post of postesArabic | async">
          <!--Section heading-->
          <!--h1 class="section-heading h1 pt-4">{{post.type}}</h1-->
          <!--Section description-->
          <p class="section-description">{{post.data.type}}</p>
          <!--Grid row-->
          <div class="row">
            <h4 class="mb-4">
              <strong>{{post.data.title}}</strong>
            </h4>
            <!--Grid column-->
            <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
              <!--Featured image-->
              <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img class="animated fadeIn img-thumbnail" src="{{ post.data.images}}">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-7 col-xl-6">
              <!--Excerpt-->
              <a href="" class="green-text">
                <h6 class="font-bold pb-1">
                  <i class="fa fa-newspaper-o"></i>  {{post.data.type}}</h6>
              </a>

              <p>{{post.data.subContent}}</p>
              <p>
                <a><strong>{{post.data.by}} {{in}}  </strong>
                </a>{{post.data.creatAt | date:"dd/mm/yyyy"}}</p>
              <a [routerLink]="[post.id]" class="btn btn-success mb-3 waves-light" mdbRippleRadius >{{readMore}}</a>
              <!--a [routerLink]="['/details/'+post.id]" class="btn btn-success mb-3 waves-light" mdbRippleRadius >{{readMore}}</a-->
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid row-->
        </section>
        <!--Section: Blog v.1-->
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->
<!-- /.Main -->


<!--Pagination -->
<nav class="my-4" style="padding-top: 220px;">
  <ul class="pagination pagination-circle pg-blue mb-0">

    <!--First-->
    <li class="page-item disabled">
      <a class="page-link" mdbRippleRadius>First</a>
    </li>

    <!--Arrow left-->
    <li class="page-item disabled">
      <a class="page-link" mdbRippleRadius aria-label="Previous">
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <!--Numbers-->
    <li class="page-item active">
      <a class="page-link" mdbRippleRadius>1</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbRippleRadius>2</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbRippleRadius>3</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbRippleRadius>4</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbRippleRadius>5</a>
    </li>

    <!--Arrow right-->
    <li class="page-item">
      <a class="page-link" mdbRippleRadius aria-label="Next">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <!--First-->
    <li class="page-item">
      <a class="page-link">Last</a>
    </li>

  </ul>
</nav>
<!--/Pagination -->



